body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

p {
    font-size: 25px;
    text-align: center;
    font-family: Arial, sans-serif;
}

img {
    width: 100%;
}


div {
    display: inline-block;
    width: 90vw;         
    margin: 5px;
    padding: 2px;
}

div img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}


@media (min-width: 772px) {
    body > main > div {
        width: 45vw;    
        vertical-align: top;
    }

    img {
        max-height: 30vh; 
    }
}

@media (min-width: 998px) {
    body > main > div {
        width: 30vw;      
    }
}




























